<template>
  <div>
    <CRow>
      <CCol sm="6">
        <CCard>
          <CCardHeader>
            <strong>Location </strong> <small>Form</small>
          </CCardHeader>
          <CCardBody v-for="form in forms" :key="form.id">
            <CRow>
              <CCol sm="12">
                <CInput label="Location" type="name" />
              </CCol>
            </CRow>
            <CRow>
              <CCol sm="6">
                <CInputFile label="AM Video:" />
              </CCol>
              <CCol sm="6">
                <CInputFile label="PM Video:" />
              </CCol> </CRow
            ><br />
            <CRow>
              <CCol sm="12">
                <CInput label="First Activity" type="name" />
              </CCol>
            </CRow>
            <CRow>
              <CCol sm="12">
                <CInputFile horizontal />
              </CCol> </CRow
            ><br />
            <CRow>
              <CCol sm="12">
                <CInput label="Second Activity" type="name" />
              </CCol>
            </CRow>

            <CRow>
              <CCol sm="12">
                <CInputFile horizontal />
              </CCol> </CRow
            ><br />
            <CButton
              @click="addNewForm"
              color="primary"
              variant="solid"
              size="rg"
            >
              Add hotspot
            </CButton>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol sm="6">
        <CCard>
          <CCardHeader>
            <strong>Location </strong><small>List</small>
          </CCardHeader>
          <CCardBody>
            <CRow>
              <CCol sm="6"> </CCol>
              <CCol sm="6">
                <mdb-container>
                  <div class="active-pink-3 active-primary mb-3">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Search"
                      aria-label="Search"
                    />
                  </div>
                </mdb-container>
              </CCol>
            </CRow>
            <!-- <CDataTable
              :hover="hover"
              :striped="striped"
              :border="border"
              :small="small"
              :fixed="fixed"
              :items="items"
              :fields="fields"
              :items-per-page="small ? 10 : 5"
              pagination
            >
              <template #status="{ item }">
                <td>
                  <CBadge :color="getBadge(item.status)">{{
                    item.status
                  }}</CBadge>
                </td>
              </template>
            </CDataTable> -->

            <!-- <CCol>
              <CPagination
                :active-page.sync="currentPage"
                :pages="10"
                align="end"
              />
            </CCol> -->
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
export default {
  name: "SceneAuthoringTool",
  components: {},
  props: {
    fields: {
      type: Array,
      default() {
        return ["ID", "name", "date created", "operations"];
      },
    },
    caption: {
      type: String,
      default: "Table",
    },
    hover: Boolean,
    striped: Boolean,
    border: Boolean,
    small: Boolean,
    fixed: Boolean,
    dark: Boolean,
  },
  data() {
    return {
      counter: 0,
      forms: [
        {
          id: "form0",
        },
      ],
    };
  },
  methods: {
    addNewForm() {
      this.forms.push({
        id: "form${++this.counter}",
      });
    },
  },
};
</script>
